.sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
  }

  
.oswald {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  